.btn {
  width: 100px;
  height: 35px;
  border: 1px solid #ccc;
  color: #444;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color .35s ease-in-out;
}
.btn:hover {
  background-color: #ccc;
}

.info {
  overflow: hidden;
  margin: 10px 0;
}
.info__heading {
  position: relative;
  z-index: 200;
  padding: 10px;
  background-color: #ccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.info__heading h1 {
  margin: 0;
}
.info__text {
  position: relative;
  z-index: 100;
  background-color: #f3f3f3;
  transition: all .45s ease-in-out;
  max-height: 0;
}
.info--open .info__text {
  max-height: 500px;
}
.info__text p {
  padding: 10px;
  margin: 0;
}
